/*GENERAL*/

body{
	font-family: 'Montserrat', sans-serif;
	background: #000000;
}

.bolder{
	font-weight: bold;
}

.first-section {
	margin-top: 106.3px;
}

.vertical-center {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.vertical-center_2 {
	display: flex;
	align-items: center;
}

.text-gray {
	color: #e8e8e8;
}

.text-justify {
	text-align: justify;
}

.bg-icam{
	background: #000000;
}

.img-contact-banner{
	max-width: 400px;
}


/*NAVBAR*/

.nav-logo {
	width: 150px;
}

.bg-dark {
	background-color: #000000!important;
}

.into{
	border: 2px solid #ffffff;
    color: #ffffff !important;
    font-weight: bold;
}

hr{
	background-color: #ffffff !important;
}

/*HOME*/
.img-banner{ height: 600px; }
.carousel-caption{ top: 50%; transform: translateY(-50%);  bottom: initial; }

.carousel-caption h1{
	background: #35353585;
    padding: 20px 0;
    margin: 0;
}

.carousel-caption p{
	background: #35353585;
    padding: 15px 0;
    margin: 0;
}

.title-about{
	width: 150px;
    background: #000000;
    top: 0px;
    position: absolute;
    left: 200px;
    z-index: 999;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.btn-about{
	background-color: #000000;
    border-color: #ffffff;
    padding: 12px 25px;
    font-size: 18px;
}
.btn-about:hover, .btn-about:active, .btn-about:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: black;
}

.section-contact{
	background: #00000000;
	color: #ffffff;
}



/*ABOUTUS*/

.bg-aboutus {
	min-height: 600px;
	background-color: #000000;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-team {
	background-color: #000000;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-mision {
	background-image: url(../images/aboutus/mision.jpg);
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-values{
	background-color: #000000;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title-mision-vision {
	background: #000000b8;
	color: #ffffff;
}

.bg-vision {
	background-image: url(../images/aboutus/vision.png);
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fa-team {
	font-size: 25px;
	color: #ffffff;
	margin-right: 10px;
}

.bg-ateam-div{
	background-color: #000000;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.img-team { width: 200px; border-radius: 100%; }

.icon-valores{ font-size: 5em; color: #bbbbbb; }

.img-ateam{ width: 100%; }

.bg-ateam{
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	border: 8px solid black;
}

.bg-ateam1{ background-image: url(../images/team/ateam1.jpg); }
.bg-ateam2{ background-image: url(../images/team/ateam2.jpg); }
.bg-ateam3{ background-image: url(../images/team/ateam3.jpg); }
.bg-ateam4{ background-image: url(../images/team/ateam4.jpg); }
.bg-ateam5{ background-image: url(../images/team/ateam5.jpg); }
.bg-ateam6{ background-image: url(../images/team/ateam6.jpg); }
.bg-ateam7{ background-image: url(../images/team/ateam1.jpg); }
.bg-ateam8{ background-image: url(../images/team/ateam2.jpg); }
.bg-ateam9{ background-image: url(../images/team/ateam3.jpg); }


/* SERVICES */

.main-services {
	min-height: 500px;
	background-color: #000000;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.fa-services{
	font-size: 2.5em;
	color: #b9b9b9;
}

.title-services{
	font-size: 1.3em;
}

.unit-service{
	border: 1px solid #d6d6d6;
	padding: 40px 35px;
	cursor: pointer;
}

.text-services{
	color: #bbbbbb;
}

.unit-service:hover{
	background: #e4e4e4;
	transition: 0.7s;
}
.unit-service:hover .title-services, .unit-service:hover .fa-services, .unit-service:hover .text-services{
	color: #000;
	transition: 0.7s;
}
.whychooseus-img{
	max-width: 600px;
	width: 100%;
}

/*PORTFOLIO*/
.unit-portfolio{
	text-align: center;
}
.img-portfolio{
	cursor: pointer;
	max-height: 350px;
	max-width: 350px;
	box-shadow: 4px 4px 6px #9c9c9c;
}
.img-clients{
	max-height: 200px;
	max-width: 200px;
}

#carouselClients .carousel-indicators{
	bottom: -20px !important;
}
#carouselClients li{
	width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 100%;
}

/*MEDIA*/

@media (max-width: 768px){
	.why-vertical{ min-height: auto !important; }
	.whychooseus-img{ width: 70%; }
}





